/* #538687 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #538687;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  gap: 1.5vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  color: #b0413e;
  background-color: #ffffff;
}

.box:hover {
  opacity: 0.4;
  cursor: pointer;
}

#resetBtn {
  background: #191913;
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
}

#resetBtn:hover {
  opacity: 0.75;
  cursor: pointer;
}
.msgContainer {
  margin-top: 2rem;
}

#Message {
  background: #191913;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  display: inline;
  border-radius: 0.9rem;
}
